body{
    margin-left: 500px;
}

.square {
    width: 100px;
    height: 100px;
    font-size: 90px;
    background-color: rgb(98, 119, 119);
    color: white;
    align-items: center;
   
}

.board-row {
    display:flex;
}

.status {
    margin-left: 100px;
    margin-bottom: 10px;
    font-size: larger;
    font-weight: bold;
    align-items: center;
}